<section class="searchBar">
<h3 class="search_bar_title"><span class="icon-search"></span> Search Trains<span class="align_right"><a href="#home">Cancel</a></span></h3>
<section>
<h4 class="search_second_title">Select your route</h4>
<div class="newLocations">
	<div class="newLocationSource">
		<label>From</label><span>
		<select ng-change="stationsChanged(search,detail.source,detail.destination,'search',true)" ng-model="detail.source" ng-options="c.label for c in arrayStationNames">
		</select>
		</span>
	</div>
	<div class="newLocationDestination">
		<label>To</label><span>
		<select ng-change="stationsChanged(search,detail.source,detail.destination,'search',true)" ng-model="detail.destination" ng-options="c.label for c in arrayStationNames">
		</select>
		</span>
	</div>
</div>
</section><section class="trains-chart" id="SearchTrainChart"><hgroup class="hidden">
<h1 class="title-listTrains">From:<strong>{{detail.source.label}}</strong></h1>
<h1 class="title-listTrains">To:<strong>{{detail.destination.label}}</strong></h1>
</hgroup><section class="trains-prop" ng-show="detail.trainsArray.nextTrains.length> 0">
<dl>
	<dd class='label-distance'>Distance</dd>
	<dt class="text-distance" ng-bind="detail.trainsArray.currentTrainArray.totalJourneyKM"></dt>
</dl>
<dl>
	<dd class='label-journey'>Journey Time</dd>
	<dt class="text-journey" ng-bind="detail.trainsArray.currentTrainArray.totalJourneyTime"></dt>
</dl>
<dl class="hidden" ng-click="changeInlineRequested(search,detail.whenInlineChange)" ng-model="detail.whenInlineChange">
	<dd class="train-chart-edit"><span class="icon-equalizer"></span>Change</dd>
</dl>
</section>
<ul>
	<li class="next-train" ng-repeat="t in detail.trainsArray.nextTrains">
	<div class="next-train-station">
		<div class="next-train-name" ng-bind="t.fulltrainname">
		</div>
		<div class="hidden next-train-secs" ng-bind="t.whenNextTrain">
		</div>
		<div class="next-train-secs">
			&nbsp;
		</div>
	</div>
	<div class="next-train-watch">
		{{t.hoursMinutesZeroPadded[0]}}:{{t.hoursMinutesZeroPadded[1]}}
	</div>
	</li>
</ul>
<div class="notrainsfound" ng-model="detail.noTrains" ng-show="detail.noTrains">
	No Trains Found for these locations :(
</div>
</section></section>