<section weather-widget id="weather" temperature="temperature">
</section>
<!--weather code ends here-->


<div id="widget">
    <div invoke-trains port="portion1" sector="section1"></div>
    <div invoke-trains port="portion2" sector="section2"></div>
</div>



<section news-widget class="news">
    {{paper}}
    <header>
        Chennai Metropolis has been growing rapidly and the traffic volumes on the roads have also been increasing enormously.
    </header>
    <footer>
        <a href="">Read More</a>
    </footer>
    <hr class="with-space">
</section>

<section class="news">
    <header>
        Chennai Metropolis has been growing rapidly and the traffic volumes on the roads have also been increasing enormously.
    </header>
    <footer>
        <a href="">Read More</a>
    </footer>
    <hr class="with-space">
</section>

<section id="quotes">
    <header>“Gravitation cannot be held responsible for people falling in love.”</header>
    <h3>
            <span>&mdash;</span> Albert Einstein
        </h3>
</section>
<hr class="space">
<section id="forex">
    <h2 id="gold"><i class="fa fa-dot-circle-o"></i> 2300/gm</h2>
    <h2 id="dollar"><i class="fa fa-usd"></i> 63.05</h2>
</section>